---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

#{% include base_path %}

#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}

<section class="page__content" itemprop="text">
<hr>
<h2 id="teaching-fellow">Teaching Fellow</h2>

<ul>
<li> Econ 507 Statistics for Economists (Master-level), Boston University (Fall 2021-Spring 2022)</li>


</ul>

<script>
function visib(id) {
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

</section>
